{% load static %}


<html>

<head>
    <title>
        Recorder v2.2
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        #WebCam {
            /*text-align: right;
                margin-left: 950px;
                margin-top: 270px;*/
            position: absolute;
            height: 9%;
            width: 10%;
            margin: 1%;
            right: 35px;
            bottom: 35px;
            border: 2px solid coral;
            z-index: 15;
        }
    
    
        #QuestionVideo {
            margin: 2%;
            position: absolute;
            top: 8%;
            visibility: hidden;
            border: 2px solid red;
            height: 90%;
            width: 95%;
        }
    
    
        #interviewer_div {
            position: absolute;
            top: 8%;
            visibility: hidden;
            border: 2px solid red;
            height: 90%;
            width: 100%;
        }
    </style>
    </head>
    
    <body>
        <!-- <div class="container mt-3" style="text-align:center">
            <span><a id="download" style="display: none;"><button type="button" class="btn btn-primary mb-4">
                        Download</button></a></span>
            <button type="button" class="btn btn-danger" id="stop" disabled="">Stop</button>
            <button type="button" onclick="recordScreen()" class="btn btn-info">Start Interview</button>
        </div>
        <div class="p-5">
            <video id="WebCam" autoplay="" muted="" width="340" height="280">
            </video>
            <div id="interviewer_div">
                <video width="940" height="700" id="QuestionVideo">
                    <source src="{% static 'videos/Sundar3.mp4' %}" type="video/mp4">
                </video>
    
            </div>
        </div> -->
    
    
    
        <!-- new structure starts -->
    
    
        <div id="main_div_interview_page">
    
            <!-- div for buttons start and stop and download -->
            <div style="border: 2px solid black;" class="container mt-3" style="text-align:center">
                <span><a id="download" style="display: none;"><button type="button" class="btn btn-primary mb-4">
                            Download</button></a></span>
                <button type="button" class="btn btn-danger" id="stop" disabled="">Stop</button>
                <!-- <button type="button" onclick="recordVideo()" class="btn btn-info">Record Video</button> -->
                <button type="button" onclick="recordScreen()" class="btn btn-info">Start Interview</button>
            </div>
            <br>
    
            <!-- div for showing video of candidate -->
            <div>
                <video id="WebCam" autoplay="" muted="" width="340" height="280">
                </video>
            </div>
    
            <!-- div for showing video of interviewer -->
            <!-- <div id="interviewer_div">
                <video width="100%" height="100%" id="QuestionVideo">
                    <source src="{% static 'videos/Sundar3.mp4' %}" type="video/mp4">
                </video>
            </div> -->
    
            <video width="100%" height="100%" id="QuestionVideo">
                <source src="{% static 'videos/Sundar3.mp4' %}" type="video/mp4">
            </video>
    
        </div>
    
    
        <!-- new structure ends -->


    <script>


        function AskingQuestion() {
            var vid = document.getElementById("QuestionVideo");
            vid.play()
        }

        let shouldStop = false;
        let stopped = false;
        const videoElement = document.getElementsByTagName("video")[0];
        const downloadLink = document.getElementById('download');
        const stopButton = document.getElementById('stop');
        function closingcamera() {
            const video = document.querySelector('video');

            const mediaStream = video.srcObject;
            const tracks = mediaStream.getTracks();

            // Tracks are returned as an array, so if you know you only have one, you can stop it with: 
            tracks[0].stop();

            // Or stop all like so:
            tracks.forEach(track => track.stop())
        }
        function startRecord() {
            $('.btn-info').prop('disabled', true);
            $('#stop').prop('disabled', false);
            $('#download').css('display', 'none')
        }

        function interviwer_invisible() {
            document.getElementById("QuestionVideo").style.visibility = "visible"
        }

        function stopRecord() {

            interviwer_invisible()

            closingcamera()
            $('.btn-info').prop('disabled', false);
            $('#stop').prop('disabled', true);
            $('#download').css('display', 'block')
        }
        const audioRecordConstraints = {
            echoCancellation: true
        }

        stopButton.addEventListener('click', function () {
            shouldStop = true;
        });

        const handleRecord = function ({ stream, mimeType }) {
            startRecord()
            let recordedChunks = [];
            stopped = false;
            const mediaRecorder = new MediaRecorder(stream);

            mediaRecorder.ondataavailable = function (e) {
                if (e.data.size > 0) {
                    recordedChunks.push(e.data);
                }

                if (shouldStop === true && stopped === false) {
                    mediaRecorder.stop();
                    stopped = true;
                }
            };

            mediaRecorder.onstop = function () {
                const blob = new Blob(recordedChunks, {
                    type: mimeType
                });
                recordedChunks = []
                const filename = "VideoRecording"
                downloadLink.href = URL.createObjectURL(blob);
                downloadLink.download = `${filename || 'recording'}.webm`;
                stopRecord();
                videoElement.srcObject = null;
            };

            mediaRecorder.start(200);
        };

        /*async function recordAudio() {
            const mimeType = 'audio/webm';
            shouldStop = false;
            const stream = await navigator.mediaDevices.getUserMedia({audio: audioRecordConstraints});
            handleRecord({stream, mimeType})
        }*/

        async function recordVideo() {
            const mimeType = 'video/webm';
            shouldStop = false;
            const constraints = {
                audio: {
                    "echoCancellation": true
                },
                video: {
                    "width": {
                        "min": 640,
                        "max": 1024
                    },
                    "height": {
                        "min": 480,
                        "max": 768
                    }
                }
            };
        
        
        
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            videoElement.srcObject = stream;
            handleRecord({ stream, mimeType })
            // Screen Sharing Code 
            var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
            var recognition = new SpeechRecognition();
            recognition.onstart = function () {
                action.innerHTML = "<small>listening, please speak...</small>";
            };

            recognition.onspeechend = function () {
                action.innerHTML = "<small>stopped listening, hope you are done...</small>";
                recognition.stop();
            }
            recognition.onresult = function (event) {
                var transcript = event.results[0][0].transcript;
                var confidence = event.results[0][0].confidence;
                output.innerHTML = "<b>Text:</b> " + transcript + "<br/> <b>Confidence:</b> " + confidence * 100 + "%";
                output.classList.remove("hide");
            };

            // start recognition
            recognition.start();
        }




        async function recordScreen() {
            document.getElementById("QuestionVideo").style.visibility = "visible"
            setTimeout(AskingQuestion, 10000)
            recordVideo()
            takingAnswer()
            
            const mimeType = 'video/webm';
            shouldStop = false;
            const constraints = {
                video: {
                    cursor: 'motion'
                }
            };
            if (!(navigator.mediaDevices && navigator.mediaDevices.getDisplayMedia)) {
                return window.alert('Screen Record not supported!')
            }

            let stream = null;
            const displayStream = await navigator.mediaDevices.getDisplayMedia({ video: { cursor: "motion" }, audio: { 'echoCancellation': true } });
            if (window.confirm("Record audio with screen?")) {
                const audioContext = new AudioContext();

                const voiceStream = await navigator.mediaDevices.getUserMedia({ audio: { 'echoCancellation': true }, video: false });
                const userAudio = audioContext.createMediaStreamSource(voiceStream);

                const audioDestination = audioContext.createMediaStreamDestination();
                userAudio.connect(audioDestination);

                if (displayStream.getAudioTracks().length > 0) {
                    const displayAudio = audioContext.createMediaStreamSource(displayStream);
                    displayAudio.connect(audioDestination);
                }

                const tracks = [...displayStream.getVideoTracks(), ...audioDestination.stream.getTracks()]
                stream = new MediaStream(tracks);
                handleRecord({ stream, mimeType })
                mediaStream.getVideoTracks()[0].addEventListener('ended', () => console.log("ou Can't stop Sharing Unless Your Interview is completed"))
            } else {
                stream = displayStream;
                handleRecord({ stream, mimeType });

            };
            window.stream.getTracks().forEach(function (e) {

                e.stop()

            });
            // videoElement.srcObject = stream;
        }
    </script>


</body>

</html>